# Diskritisasi (Tugas 2)

1. mencari nilai equel width
2. mencari nilai equel frekuensi
3. entropy

## Equel Width

rumus
$$ w=\frac{x_{min}-x_{max}}k $$

$$v_i=x_{min}+i*w$$

dimana i = 1,2,3,..k

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
# membaca dataset
dt_iris = pd.read_csv("https://gist.githubusercontent.com/netj/8836201/raw/6f9306ad21398ea43cba4f7d537619d0e07d5ae3/iris.csv")
dt_iris

     sepal.length  sepal.width  petal.length  petal.width    variety
0             5.1          3.5           1.4          0.2     Setosa
1             4.9          3.0           1.4          0.2     Setosa
2             4.7          3.2           1.3          0.2     Setosa
3             4.6          3.1           1.5          0.2     Setosa
4             5.0          3.6           1.4          0.2     Setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

[150 rows x 5 columns]

In [ ]:
# CONSTAN SERIES

DATA_SEPAL_LENGTH = dt_iris["sepal.length"]
DATA_SEPAL_WIDTH = dt_iris["sepal.width"]
DATA_PETAL_LENGTH = dt_iris["petal.length"]
DATA_PETAL_WIDTH = dt_iris["petal.width"]

In [ ]:
# fungsi untuk eksekusi secara bersamaan
def cut(col, k):
    intervals = pd.cut(dt_iris[col], k).value_counts().index.to_list()
    return [[interval.left, interval.right] for interval in intervals]

In [ ]:
interval_sepal_length = cut("sepal.length", 3)
interval_sepal_width = cut("sepal.width", 3)
interval_petal_length = cut("petal.length", 3)
interval_petal_width = cut("petal.width", 3)

print("interval sepal.length :", interval_sepal_length)
print("interval sepal.width  :", interval_sepal_width)
print("interval petal.length :", interval_petal_length)
print("interval petal.width  :", interval_petal_width)

interval sepal.length : [[5.5, 6.7], [4.296, 5.5], [6.7, 7.9]]
interval sepal.width  : [[2.8, 3.6], [1.998, 2.8], [3.6, 4.4]]
interval petal.length : [[2.967, 4.933], [0.994, 2.967], [4.933, 6.9]]
interval petal.width  : [[0.9, 1.7], [0.0976, 0.9], [1.7, 2.5]]

In [ ]:
def equalwidth(list_interval, col):
    # mendapatkan panjang interval
    length = len(list_interval)

    # mengurutkan interval
    sort_interval = np.sort(list_interval, axis=0)
    # mendapatkan Category dari interval
    categories = np.array([chr(65+i) for i in range(length)])[:, None]
    # combine into interval data
    intervals = np.hstack((sort_interval, categories))

    newCol = []
    for i, row in dt_iris.iterrows():
        data = row[col]
        for interval in intervals:
            if data >= interval[0].astype(float) and data <= interval[1].astype(float):
                newCol.append(interval[2])
                break

    return np.array(newCol, dtype=str)

In [ ]:
dt_iris["sepal.length"] = equalwidth(interval_sepal_length, "sepal.length")
dt_iris["sepal.width"] = equalwidth(interval_sepal_width, "sepal.width")
dt_iris["petal.length"] = equalwidth(interval_petal_length, "petal.length")
dt_iris["petal.width"] = equalwidth(interval_petal_width, "petal.width")

In [ ]:
dt_iris

    sepal.length sepal.width petal.length petal.width    variety
0              A           B            A           A     Setosa
1              A           B            A           A     Setosa
2              A           B            A           A     Setosa
3              A           B            A           A     Setosa
4              A           B            A           A     Setosa
..           ...         ...          ...         ...        ...
145            B           B            C           C  Virginica
146            B           A            C           C  Virginica
147            B           B            C           C  Virginica
148            B           B            C           C  Virginica
149            B           B            C           C  Virginica

[150 rows x 5 columns]

## Equel Frequensy

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
# membaca dataset
dt_iris = pd.read_csv("https://gist.githubusercontent.com/netj/8836201/raw/6f9306ad21398ea43cba4f7d537619d0e07d5ae3/iris.csv")
dt_iris

     sepal.length  sepal.width  petal.length  petal.width    variety
0             5.1          3.5           1.4          0.2     Setosa
1             4.9          3.0           1.4          0.2     Setosa
2             4.7          3.2           1.3          0.2     Setosa
3             4.6          3.1           1.5          0.2     Setosa
4             5.0          3.6           1.4          0.2     Setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

[150 rows x 5 columns]

In [ ]:
# CONSTAN SERIES
DATA_SEPAL_LENGTH = dt_iris["sepal.length"]
DATA_SEPAL_WIDTH = dt_iris["sepal.width"]
DATA_PETAL_LENGTH = dt_iris["petal.length"]
DATA_PETAL_WIDTH = dt_iris["petal.width"]

In [ ]:
def qcut(col, k):
    intervals = pd.qcut(dt_iris[col], k).value_counts().index.to_list()
    return [[interval.left, interval.right] for interval in intervals]

In [ ]:
interval_sepal_length = qcut("sepal.length", 3)
interval_sepal_width = qcut("sepal.width", 3)
interval_petal_length = qcut("petal.length", 3)
interval_petal_width = qcut("petal.width", 3)

print("interval sepal.length :", interval_sepal_length)
print("interval sepal.width  :", interval_sepal_width)
print("interval petal.length :", interval_petal_length)
print("interval petal.width  :", interval_petal_width)

interval sepal.length : [[5.4, 6.3], [4.2989999999999995, 5.4], [6.3, 7.9]]
interval sepal.width  : [[1.999, 2.9], [2.9, 3.2], [3.2, 4.4]]
interval petal.length : [[2.633, 4.9], [0.999, 2.633], [4.9, 6.9]]
interval petal.width  : [[0.867, 1.6], [0.099, 0.867], [1.6, 2.5]]

In [ ]:
def equalfreq(list_interval, col):
    # mendapatkan panjang interval
    length = len(list_interval)

    # mengurutkan interval
    sort_interval = np.sort(list_interval, axis=0)
    # mendapatkan Category dari interval
    categories = np.array([chr(65+i) for i in range(length)])[:, None]
    # combine into interval data
    intervals = np.hstack((sort_interval, categories))

    newCol = []
    for i, row in dt_iris.iterrows():
        data = row[col]
        for interval in intervals:
            if data >= interval[0].astype(float) and data <= interval[1].astype(float):
                newCol.append(interval[2])
                break

    return np.array(newCol, dtype=str)

In [ ]:
dt_iris["sepal.length"] = equalfreq(interval_sepal_length, "sepal.length")
dt_iris["sepal.width"] = equalfreq(interval_sepal_width, "sepal.width")
dt_iris["petal.length"] = equalfreq(interval_petal_length, "petal.length")
dt_iris["petal.width"] = equalfreq(interval_petal_width, "petal.width")

In [ ]:
dt_iris

    sepal.length sepal.width petal.length petal.width    variety
0              A           C            A           A     Setosa
1              A           B            A           A     Setosa
2              A           B            A           A     Setosa
3              A           B            A           A     Setosa
4              A           C            A           A     Setosa
..           ...         ...          ...         ...        ...
145            C           B            C           C  Virginica
146            B           A            C           C  Virginica
147            C           B            C           C  Virginica
148            B           C            C           C  Virginica
149            B           B            C           C  Virginica

[150 rows x 5 columns]

## Enthropy

In [ ]:
# import library
import pandas as pd
import numpy as np

In [ ]:
# membaca dataset
dt_iris = pd.read_csv("https://gist.githubusercontent.com/netj/8836201/raw/6f9306ad21398ea43cba4f7d537619d0e07d5ae3/iris.csv")
dt_iris

     sepal.length  sepal.width  petal.length  petal.width    variety
0             5.1          3.5           1.4          0.2     Setosa
1             4.9          3.0           1.4          0.2     Setosa
2             4.7          3.2           1.3          0.2     Setosa
3             4.6          3.1           1.5          0.2     Setosa
4             5.0          3.6           1.4          0.2     Setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

[150 rows x 5 columns]

In [ ]:
sample = dt_iris[["sepal.length"]]
sample.describe()

       sepal.length
count    150.000000
mean       5.843333
std        0.828066
min        4.300000
25%        5.100000
50%        5.800000
75%        6.400000
max        7.900000

Membuat category random untuk semua data

In [ ]:
np.random.seed(0)
sample["category"] = np.where(np.random.choice(2, sample.shape[0]) < 1, "A", "B" )
sample
sample.shape[0]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

150

Membut fungsi getOverollCategory digunakan untuk menghitung data keseluruhan yang nantinya digunakan untuk menghitung entropy

In [ ]:
def getOverollCategory(col):
    group = sample.loc[:, :].groupby("category").count()
    a = group.loc["A", col]
    b = group.loc["B", col]
    print(a,b, group)
    return (a, b, a+b)

Fungsi splitter digunakan untuk membuat split antara value yang telah di tentukan lalu mengembalikan data yang telah di pisahkan

In [ ]:
def splitter(value:float, col:str)->tuple:
    # get data less and greater from value
    less = sample[sample[col] <= value]
    greater = sample[sample[col] > value]

    # calculate into category for each data
    less_group = less.loc[:, :].groupby("category").count()
    print(less_group)
    greater_group = greater.loc[:, :].groupby("category").count()

    # get value based on category
    less_category_A = less_group.loc["A", col]
    print(less_category_A)

    less_category_B = less_group.loc["B", col]
    greater_category_A = greater_group.loc["A", col]
    greater_category_B = greater_group.loc["B", col]

    return (
        [less_category_A, less_category_B, less_category_A + less_category_B],
        [greater_category_A, greater_category_B, greater_category_A + greater_category_B]
    )

Buat Fungsi entropy untuk mencari nilai entropy

In [ ]:
def entropy(d):
    r1 = (d[0] / d[2]) * np.log2(d[0] / d[2])
    r2 = (d[1] / d[2]) * np.log2(d[1] / d[2])
    return np.sum([r1, r2]) * -1

Membuat fungsi info dan gain

In [ ]:
def info(d):
    r1 = (d[0][2] / sample.shape[0]) * entropy(d[0])
    r2 = (d[1][2] / sample.shape[0]) * entropy(d[1])
    return r1 + r2

Fungsi gain untuk menghitung selsih antara entropy awal dengan yang baru

In [ ]:
def gain(Einitial, Enew):
    return Einitial - Enew

Membuat Dinitial

In [ ]:
D = getOverollCategory("sepal.length")
entropy_d = entropy(D)
print(D)
print(entropy_d)

68 82           sepal.length
category
A                   68
B                   82
(68, 82, 150)
0.993707106604508

Melakukan beberapa tes split untuk mencri informasi yang terbaik

*Split 1: 4.4*

In [ ]:
split1 = splitter(4.4, "sepal.length")
info_split1 = info(split1)
gain(entropy_d, info_split1)

          sepal.length
category
A                    1
B                    3
1

0.003488151753460178

*split 2: 5.5*

In [ ]:
split2 = splitter(5.5, "sepal.length")
info_split2 = info(split2)
gain(entropy_d, info_split2)

          sepal.length
category
A                   22
B                   37
22

0.012302155146638905

*split 3: 7.0*

In [ ]:
split3 = splitter(7.0, "sepal.length")
info_split3 = info(split3)
gain(entropy_d, info_split3)

          sepal.length
category
A                   62
B                   76
62

0.0005490214732508658

Dari keseluruhan split yang telah di hitung. maka split terbaik adalah split 3 yang memberikan keuntungan informasi sebesar 0.0005490214732508658